einops
matplotlib
numpy
pandas
pytorch_lightning==1.9.0
PyYAML
Requests
scikit_learn
scipy
supervised_fcn
x_transformers==1.7.15
wandb

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cu117
